.fullpost{
    padding: 20px 30px;
    text-align: center;
}

.btndelete{
    margin: 20px 0;
    padding: 6px;
    text-transform: uppercase;
    color:red;
    border: 5px solid #fff;
    background-color:transparent;
}